.create-matchup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.create-matchup-heading {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

/* Display Key-Value in Single Line */
.create-matchup-form-group {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px; 
  margin-bottom: 10px;
}

.create-matchup-label {
  font-weight: bold;
  margin-right: 5px;
}

.create-matchup-value {
  color: #333;
  font-weight: normal;
}

/* Team Names in Vertical List */
.create-matchup-team-list {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.create-matchup-team {
  margin: 2px 0;
}

/* Button Container */
.create-matchup-button-container {
  display: flex;
  justify-content: center;
}

.create-matchup-button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 1em;
  margin-top: 30px;
  width: 90%;
  cursor: pointer;
}

.create-matchup-button:hover {
  background: #0056b3;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ensures proper spacing */
  width: 100%;
  padding: 10px;
}

.back-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  

  background: #007bff;
  color: white;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  position: absolute;
  left: 300px;



}
.create-matchup-form-group {
  display: flex;
  align-items: flex-start; /* Aligns items at the top */
  width: 100%;
  max-width: 400px; 
  margin-bottom: 10px;
}

.create-matchup-label {
  font-weight: bold;
  min-width: 120px; /* Ensures label width is consistent */
}

.create-matchup-team-list {
  display: flex;
  flex-direction: column;
  margin-left: 10px; /* Gives space between label and list */
}

.create-matchup-team {
  padding: 2px 0;
}


/* Mobile Responsive */
@media (max-width: 480px) {
 
  .create-matchup-form-group {
    /* flex-direction: column; */
    align-items: flex-start;
  }

  .create-matchup-label {
    margin-bottom: 3px;
  }

  .create-matchup-team-list {
    margin-left: 10px;
  }
  .create-matchup-button {
    width: 90%;
  }
  
}
@media (max-width: 768px) {
  .header-container {
    justify-content: center; /* Centers everything on mobile */
    position: relative;
  }

  .back-button {
    position: absolute;
    left: 10px; /* Ensures it's positioned properly */
  }
}

